.CardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

}
.EpiCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

.navy{
/* background-image: linear-gradient(to top , rgb(0, 0, 0, 0), rgb(0, 0, 0, 1)); */
background-color:  black;
  height: 8rem;
  /* width: 100%; */
}

.quizy{
  display: absolute;
  width: 100%;
  height: 50%;
  border: solid 5px black;
  text-decoration-color: #0b5ed7;
}
.detailscontainer {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.313);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
 .cards {
    border: 2px solid #0b5ed7;
    border-radius: 5%;

 }
img {
width: auto;
height: 20rem;
 }

img:hover {
  
  scale: 1.25;
}

